<a href="https://colab.research.google.com/github/jaco-uoeo/ml-artefact/blob/main/Unit02/auto_mpgh.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# EDA with Auto-mpg dataset

Main deliverables for this EDA:

- Identify missing values
- Estimate Skewness and Kurtosis
- Correlation Heat Map
- Scatter plot for different parameters
- Replace categorical values with numerical values (i.e., America 1, Europe 2 etc.)

In [2]:
# @title Dependencies

import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import scipy.stats as st
from sklearn import ensemble, tree, linear_model
import missingno as msno

In [4]:
# @title Load Data
df = pd.read_csv("https://raw.githubusercontent.com/jaco-uoeo/ml-artefact/refs/heads/main/Unit02/auto-mpg.csv")

In [5]:
# @title Identify missing values
df.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

### Summary
We can see there are no missing values in the dataset.